@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1000 MegaStore Lane<br />
    Biggievilee, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="#">S@example.com</a><br />
    <strong>Marketing:</strong> <a href="#"></a>
</address>